VITE_SUPABASE_URL=https://dykomanxjgazmndvykwh.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_8hpStyT9nHWBgkrNsfZ4Aw_Lr9BpVyx

db test
VITE_SUPABASE_URL2=https://etahozfmihhmsufdizda.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY2=sb_publishable_O-eOkEG1gZd480IQl_hCSw_3TKAXTHk
